{% extends "base.html" %}
{% load static %}

{% block title %}
    Создать пост
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Создать пост</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Заголовок</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Содержание</label>
                <textarea class="form-control" id="body" name="body" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}
