{% extends "base.html" %}

{% block title %}Редактирование поста{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Редактирование поста</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_title" class="form-label">Заголовок</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label for="id_body" class="form-label">Содержание</label>
                        {{ form.body }}
                    </div>
                    <div class="mb-3">
                        <label for="categories" class="form-label">Выберите категории</label>
                        <select class="form-select" id="categories" name="categories" multiple>
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if category in form.categories.value %}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
