{% extends 'base.html' %}
{% load static %}
{% block title %}Мой Блог - Главная{% endblock %}
{% block content %}
    <style>
    .pagination {
        display: flex;
        justify-content: center;
    }
    .user-info h2 a {
        text-decoration: none;
        color: #0366d6;
        transition: color 0.3s ease;
    }
    .user-info h2 a:hover {
        color: #05529b;
    }
    .user-info {
        display: flex;
        align-items: center;
    }
    .post-date {
        font-size: 14px;
        text-align: right;
        margin-top: -10px;
    }
    .avatar img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid black;
    }
    .avatar img {
        margin-right: 20px;
    }
    </style>
    <h1>Все посты</h1>
    <form class="form-inline" method="GET" action="{% url 'search_posts' %}">
        <input type="text" class="form-control" name="query" placeholder="Поиск...">
        <button type="submit" class="btn btn-primary">Найти</button>
        <a href="{% url 'subscribed_posts' %}" class="btn btn-primary">Посмотреть подписки</a>
    </form>
    {% for post in posts %}
        <div style="margin-top: 1%">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%)">
                        <div class="card-body text-white">
                            <div class="post-date">{{ post.publish_date }}</div>
                            <div class="user-info">
                                <div class="avatar">
                                    {% if post.author.profile.avatar %}
                                    <img src="{{ post.author.profile.avatar.url }}"
                                    alt="Avatar"
                                    class="img-fluid">
                                    {% else %}
                                    <img src="{% static 'images/transparent.jpg' %}"
                                    alt="No Avatar"
                                    class="img-fluid">
                                    {% endif %}
                                </div>
                                <h4>
                                    <a href="{% url 'user_profile' post.author.username %}"
                                       style="text-decoration: none;
                                              color: #4CAF50;
                                              transition: color 0.3s ease"
                                       onmouseover="this.style.color='#FF5722'"
                                       onmouseout="this.style.color='#4CAF50'">{{ post.author }}</a>
                                </h4>
                            </div>
                            {% if post.categories.exists %}
                                <p>
                                    {% for category in post.categories.all %}
                                        <i>{{ category.name }}*</i>
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p>Категории не выбраны</p>
                            {% endif %}
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.body }}</p>
                            {% if post.for_subscribers %}
                                <p>
                                    <span style="color: red;">
                                        <i class="fas fa-lock"></i> Этот пост доступен только для подписчиков
                                    </span>
                                </p>
                            {% endif %}
                            <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Постов пока нет.</p>
    {% endfor %}
    <!-- Pagination links -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-secondary">&laquo; первая</a>
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="btn btn-secondary">предыдущая</a>
            {% endif %}
            <span class="current">
                <b>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</b>
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                   class="btn btn-secondary">следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}"
                   class="btn btn-secondary">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
