{% extends "base.html" %}
{% block title %}
    Уведомления
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Уведомления</h1>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for notification in notifications %}
                    <li>
                        {% if not notification.viewed %}
                            <input type="checkbox" name="notification_ids" value="{{ notification.id }}">
                        {% endif %}
                        <strong>{{ notification }}</strong>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Отметить как просмотренные</button>
        </form>
    </div>
{% endblock %}
