{% extends "base.html" %}
{% load static %}

{% block title %}
    Мой профиль
{% endblock %}

{% block content %}
    <style>
        .container {
            background-color: #ffffff;
            padding: 20px;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
        }
        .avatar {
            margin-right: 20px;
        }
        .avatar img {
            width: 200px;
            border-radius: 50%;
        }
        .profile-info {
            flex-grow: 1;
        }
    </style>
    <div class="container">
        <div class="avatar">
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="Avatar">
            {% else %}
                <img src="{% static 'images/transparent.png' %}" alt="No Avatar">
            {% endif %}
        </div>
        <div class="profile-info">
            <h1>Ваш профиль</h1>
            <p>Имя пользователя: {{ user.username }}</p>
            <p>Дата рождения: {{ user.profile.date_of_birth }}</p>
            <p>Страна: {{ user.profile.country }}</p>
            <p>Город: {{ user.profile.city }}</p>
            <p>Дата регистрации: {{ user.profile.registration_date }}</p>
            <p>О себе: {{ user.profile.bio }}</p>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Редактировать профиль</a>
        </div>
    </div>
{% endblock %}
