{% extends "base.html" %}
{% load static %}
{% block title %}Создать пост{% endblock %}
{% block content %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/container.css' %}">
    <div class="container">
        <h1>Создать пост</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Заголовок</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Содержание</label>
                <textarea class="form-control" id="body" name="body" rows="5"></textarea>
            </div>
            <div class="mb-3">
                <label for="categories" class="form-label">Выберите категории</label>
                <div>
                    {% for category in categories %}
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   id="category_{{ category.id }}"
                                   name="categories"
                                   value="{{ category.id }}">
                            <label class="form-check-label" for="category_{{ category.id }}">{{ category.name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mb-3">
                <p>Выберите параметры доступа к посту:</p>
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           id="for_subscribers"
                           name="for_subscribers">
                    <label class="form-check-label" for="for_subscribers">Ограничить доступ к посту (только для подписчиков)</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}
