{% extends "base.html" %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block content %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/container.css' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/post-card-styles.css' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/profile.css' %}">
    <div class="container">
        <div class="avatar-profile">
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="Avatar">
            {% else %}
                <img src="{% static 'images/transparent.jpg' %}" alt="No Avatar">
            {% endif %}
        </div>
        <div class="profile-info">
            <h1>Профиль</h1>
            <div class="subscriber-count">
                <h2 class="subscriber-title">Подписчики:</h2>
                <span class="subscriber-number">{{ subscriber_count }}</span>
                <a href="{% url 'subscriber_list' user.username %}"
                   class="btn btn-primary">Показать всех подписчиков</a>
            </div>
            <p>Имя пользователя: {{ user.username }}</p>
            <p>
                Дата рождения:
                {% if user.profile.date_of_birth %}
                    {{ user.profile.date_of_birth }}
                {% else %}
                    Не указана
                {% endif %}
            </p>
            <p>
                Страна:
                {% if user.profile.country %}
                    {{ user.profile.country }}
                {% else %}
                    Не указана
                {% endif %}
            </p>
            <p>
                Город:
                {% if user.profile.city %}
                    {{ user.profile.city }}
                {% else %}
                    Не указан
                {% endif %}
            </p>
            <p>Дата регистрации: {{ user.profile.registration_date }}</p>
            <p>
                О себе:
                {% if user.profile.bio %}
                    {{ user.profile.bio }}
                {% else %}
                    Информация не заполнена
                {% endif %}
            </p>
            {% if not request.user.is_authenticated or request.user != user %}
                <a href="{% url 'send_message' %}?recipient={{ user.username }}"
                   class="btn btn-primary">Написать сообщение</a>
                {% if is_subscribed %}
                    <form action="{% url 'unsubscribe' user.id %}"
                          method="post"
                          style="display: inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Отписаться</button>
                    </form>
                {% else %}
                    <form action="{% url 'subscribe' user.id %}"
                          method="post"
                          style="display: inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Подписаться</button>
                    </form>
                {% endif %}
            {% endif %}
            {% if request.user.is_authenticated and request.user == user %}
                <a href="{% url 'edit_profile' user.username %}" class="btn btn-primary">Редактировать профиль</a>
                <a href="{% url 'favorite_posts' %}" class="btn btn-primary">Посмотреть избранное</a>
            {% endif %}
            <a href="{% url 'all_profiles' %}" class="btn btn-primary">Посмотреть все профили</a>
        </div>
    </div>
    <div class="container-posts">
        <h1 style="text-align: center;">Посты пользователя {{ user.username }}</h1>
        <div class="row">
            {% for post in user_posts %}
                <div class="col-12 mb-4">
                    <div class="bg-image card shadow-1-strong">
                        <div class="card-body text-dark">
                            <div class="user-info">
                                <div class="avatar">
                                    {% if post.author.profile.avatar %}
                                        <img src="{{ post.author.profile.avatar.url }}"
                                             alt="Avatar"
                                             class="img-fluid">
                                    {% else %}
                                        <img src="{% static 'images/transparent.jpg' %}"
                                             alt="No Avatar"
                                             class="img-fluid">
                                    {% endif %}
                                </div>
                                <div>
                                    <h4 class="username">
                                        <a href="{% url 'user_profile' post.author.username %}"
                                           class="user-link">{{ post.author }}</a>
                                    </h4>
                                    <div class="post-date">
                                        {{ post.publish_date }}
                                        {% if post.for_subscribers %}
                                            <span class="lock-icon">
                                                <i class="bi bi-lock-fill"></i>
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if post.categories.exists %}
                                <p>
                                    {% for category in post.categories.all %}
                                        <i>{{ category.name }}*</i>
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p>Категории не выбраны</p>
                            {% endif %}
                            <h2>{{ post.title }}</h2>
                            <p>
                                {{ post.body|truncatewords:50|safe }}
                            </p>
                            <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Постов пока нет.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
