{% extends "base.html" %}
{% load static %}
{% block title %}Все пользователи{% endblock %}
{% block content %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/post-card-styles.css' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/all-profiles.css' %}">
    <div class="container">
        <h1 style="margin-bottom: 20px;">Список пользователей</h1>
        {% for profile in profile_list %}
            <div class="user-info">
                <div class="card-body">
                    <div class="avatar">
                        {% if profile.avatar %}
                            <img src="{{ profile.avatar.url }}" alt="Avatar" class="img-fluid">
                        {% else %}
                            <img src="{% static 'images/transparent.jpg' %}"
                                 alt="No Avatar"
                                 class="img-fluid">
                        {% endif %}
                    </div>
                    <div>
                        <h4 class="username">
                            <a href="{% url 'user_profile' profile.user.username %}"
                               class="user-link">{{ profile.user.username }}</a>
                        </h4>
                        <p>
                            Страна:
                            {% if profile.country %}
                                {{ profile.country }}
                            {% else %}
                                Не указана
                            {% endif %}
                        </p>
                        <p>
                            Город:
                            {% if profile.city %}
                                {{ profile.city }}
                            {% else %}
                                Не указан
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="margin-top: 20px;"></div>
{% endblock %}
