{% extends "base.html" %}
{% load static %}

{% block title %}
    Редактировать профиль
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Редактировать профиль</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <label for="id_avatar">Загрузить аватар</label>
                <input type="file" class="form-control-file" id="id_avatar" name="avatar">
            </div>
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
    </div>
{% endblock %}
