{% extends "base.html" %}
{% load static %}
{% block title %}Уведомления{% endblock %}
{% block content %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/notifications.css' %}">
    <script src="{% static 'js/notifications.js' %}"></script>
    <div class="container">
        <h1 class="mt-4">Уведомления</h1>
        {% if notifications %}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Тип</th>
                            <th scope="col">Текст</th>
                            <th scope="col">Пользователь</th>
                            <th scope="col">Время</th>
                            <th scope="col">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notification in notifications %}
                            {% if notification.viewed %}
                                <tr class="text-success">
                                {% else %}
                                    <tr>
                                    {% endif %}
                                    <td>
                                        <strong>{{ notification.type }}</strong>
                                    </td>
                                    <td>{{ notification.text|safe }}</td>
                                    <td>
                                        <a href="/profile/{{ notification.sender_name }}/">{{ notification.sender_name }}</a>
                                    </td>
                                    <td>{{ notification.timestamp }}</td>
                                    <td>
                                        {% if not notification.viewed %}
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    onclick="markAsViewed({{ notification.id }})">Просмотреть</button>
                                        {% else %}
                                            <span class="text-success">Просмотрено</span>
                                        {% endif %}
                                        <button type="button"
                                                class="btn btn-danger"
                                                onclick="deleteNotification({{ notification.id }})">Удалить</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <form method="post" action="{% url 'delete_all_notifications' %}">
                    {% csrf_token %}
                    <button type="button"
                            class="btn btn-danger"
                            onclick="deleteAllNotifications()">Удалить все уведомления</button>
                </form>
                <form method="post"
                      action="{% url 'mark_all_as_viewed' %}"
                      onsubmit="markAllAsViewed(event)">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Просмотреть все уведомления</button>
                </form>
            {% else %}
                <p>У вас нет непросмотренных уведомлений.</p>
            {% endif %}
        </div>
        <script>const csrfToken = "{{ csrf_token }}";</script>
    {% endblock %}
