{% extends "base.html" %}
{% block title %}Мой блог | Мои посты{% endblock %}

{% block content %}
    <div class="container">
        <h1>Мои посты</h1>
        <div class="col-md-12">
            {% for post in user_posts %}
                <div class="bg-image card mb-4 shadow-1-strong" style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                    <div class="card-body text-white">
                        <h2>{{ post.title }}</h2>
                        {% if post.categories.exists %}
                            <p>Категории: 
                                {% for category in post.categories.all %}
                                    <b>{{ category.name }}</b>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        {% else %}
                            <p>Категории не выбраны</p>
                        {% endif %}
                        <p>Автор поста: <b><a href="{% url 'user_profile' post.author.username %}">{{ post.author }}</a></b></p>
                        <p>Дата публикации: {{ post.publish_date }}</p>
                        <p>{{ post.body }}</p>
                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Подробнее</a>
                        <a href="{% url 'edit_post' post.pk %}" class="btn btn-secondary">Редактировать</a>
                        <!-- Кнопка "Удалить" для вызова модального окна -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePostModal" data-postid="{{ post.pk }}">Удалить</button>
                    </div>
                </div>
            {% empty %}
                <p>У вас пока нет постов.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Модальное окно для подтверждения удаления поста -->
    <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePostModalLabel">Удаление поста</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить этот пост?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <!-- Кнопка для подтверждения удаления поста -->
                    <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript for passing the post ID and deleting the post -->
    <script>
        // Обработчик события щелчка по кнопке "Удалить"
        document.querySelectorAll('.btn-danger').forEach(button => {
            button.addEventListener('click', function() {
                const postId = this.getAttribute('data-postid');
                if (postId) { // Проверяем, что postId не равен null или undefined
                    const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
                    // Установить атрибут href для кнопки подтверждения удаления
                    confirmDeleteBtn.setAttribute('href', `/post/delete/${postId}/`);
                }
            });
        });
    </script>
      
{% endblock %}
