{% extends "base.html" %}
{% load static %}
{% block title %}Мой блог | Обо мне{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="about-title">Обо мне</h2>
                <p class="about-text">Привет! Меня зовут Андрей. Я создатель этого блога.</p>
                <p class="about-text">Здесь я и вы делитесь своими мыслями, идеями и интересными материалами.</p>
                <p class="about-text">Надеюсь, вам здесь понравится!</p>
                <div>
                    <p>Можете связаться со мной:</p>
                    <ul class="icon-list">
                        <li class="icon-item">
                            <a href="https://t.me/o11220" target="_blank" class="icon-link">
                                <img src="{% static 'icons/icon-telegram.png' %}"
                                     alt="Telegram"
                                     class="icon-link">
                            </a>
                        </li>
                        <li class="icon-item">
                            <a href="https://vk.com/oandronguy" target="_blank" class="icon-link">
                                <img src="{% static 'icons/icon-vk.png' %}"
                                     alt="Vkontakte"
                                     class="icon-link">
                            </a>
                        </li>
                        <li class="icon-item">
                            <a href="mailto:andrei.melchikov25@gmail.com"
                               target="_blank"
                               class="icon-link">
                                <img src="{% static 'icons/icon-email.png' %}"
                                     alt="Email"
                                     class="icon-link">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
