{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block title %}Мой Блог - Главная{% endblock %}
{% block content %}
    {% compress css %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/pagination-styles.css' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/post-card-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'js/search.js' %}"></script>
    {% endcompress %}
    <h1>Публикации</h1>
    <form class="form-inline"
          method="GET"
          action="{% url 'search_posts' %}">
        <input type="text"
               class="form-control search-field"
               name="query"
               placeholder="Поиск..."
               id="searchQuery">
        <button type="submit" class="btn btn-primary" id="searchBtn" disabled>Найти</button>
        {% if user.is_authenticated %}
            <a href="{% url 'subscribed_posts' %}" class="btn btn-primary">Посмотреть подписки</a>
        {% endif %}
    </form>
    {% for post in posts %}
        <div style="margin-top: 1%">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong">
                        <div class="card-body text-dark">
                            <div class="user-info">
                                <div class="avatar">
                                    {% if post.author.profile.avatar %}
                                        <img src="{{ post.author.profile.avatar.url }}"
                                             alt="Avatar"
                                             class="img-fluid">
                                    {% else %}
                                        <img src="{% static 'images/transparent.jpg' %}"
                                             alt="No Avatar"
                                             class="img-fluid">
                                    {% endif %}
                                </div>
                                <div>
                                    <h4 class="username">
                                        <a href="{% url 'user_profile' post.author.username %}"
                                           class="user-link">{{ post.author }}</a>
                                    </h4>
                                    <div class="post-date">
                                        {{ post.publish_date }}
                                        {% if post.for_subscribers %}
                                            <span class="lock-icon">
                                                <i class="bi bi-lock-fill"></i>
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if post.categories.exists %}
                                <p>
                                    {% for category in post.categories.all %}
                                        <i>{{ category.name }}*</i>
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p>Категории не выбраны</p>
                            {% endif %}
                            <h2>{{ post.title }}</h2>
                            <p>
                                {{ post.body|truncatewords:50|safe }}
                            </p>
                            <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Постов пока нет.</p>
    {% endfor %}
    <div class="tm-pagination__pages">
        <div class="tm-pagination__page-group">
            <a class="tm-pagination__page" href="?page=1">««</a>
            {% if page_obj.has_previous %}
                <a class="tm-pagination__page"
                   href="?page={{ page_obj.previous_page_number }}">«</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <span class="tm-pagination__page tm-pagination__page_current"
                          data-test-id="pagination-current-page">{{ num }}</span>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="tm-pagination__page" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="tm-pagination__page"
                   href="?page={{ page_obj.next_page_number }}">»</a>
            {% endif %}
            <a class="tm-pagination__page"
               href="?page={{ page_obj.paginator.num_pages }}">»»</a>
        </div>
    </div>
{% endblock %}
