{% extends "base.html" %}
{% load static %}
{% block title %}Выход{% endblock %}
{% block content %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/authentication.css' %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Вы успешно вышли</h2>
                <p class="text-center">
                    Вы успешно вышли из системы. <a href="{% url 'login' %}">Войдите снова</a>, если хотите вернуться в систему.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
