{% extends "base.html" %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/authentication.css' %}">
    <script src="{% static 'js/eye.js' %}"></script>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Вход</h2>
                {% if messages %}
                    <div class="alert alert-info">
                        <ul>
                            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form method="post" class="auth-form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Имя пользователя или Email:</label>
                        <input type="text" id="username" name="username" class="form-control">
                    </div>
                    <div class="mb-3">  
                        <label for="password" class="form-label">Пароль:</label>
                        <div class="password-input-container">
                            <input type="password" id="password" name="password" class="form-control">
                            <span toggle="#password" class="password-toggle-icon bi bi-eye"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block auth-btn">Войти</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'password_reset' %}" class="btn btn-link"> 
                        <i class="bi bi-key-fill"></i> Забыли пароль?
                    </a>
                </div>
                <p class="text-center mt-3">
                    Еще нет аккаунта? <a href="{% url 'register' %}" class="btn btn-secondary auth-btn">Зарегистрироваться</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
