{% extends "base.html" %}
{% load static %}
{% block title %}Инструкция отправлена{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_instruction.css' %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="password-reset-instruction-container">
                    <h2 class="password-reset-instruction-title">Инструкция отправлена</h2>
                    <p class="password-reset-instruction-message">Проверьте ваш email для дальнейших инструкций по восстановлению пароля.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
